################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prueba_Tecnica_Coem/.vs/Prueba_Tecnica_Coem
