################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prueba_Tecnica_Coem/.vs/Prueba_Tecnica_Coem
/Prueba_Tecnica_Coem/.vs/ProjectEvaluation
/Prueba_Tecnica_Coem/bin/Debug/net8.0
