@{
    ViewData["Title"] = "Inicio";
}

<div class="full-screen-background">
    <h1 class="text-overlay">Encuentra tu empleo ideal</h1>
    <div class="overlay-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="icon-container">
                        <i class="fas fa-briefcase fa-2x"></i>
                    </div>
                    <h3 class="fw-bold text-white mt-2" style="background-color: rgba(0, 0, 0, 0.5);">Más de 60.000 ofertas de empleo</h3>
                    <button class="btn btn-outline-light btn-md fw-bold">Registrar hoja de vida</button>
                </div>
                <div class="col-md-6 text-center">
                    <div class="icon-container">
                        <i class="fas fa-business-time fa-2x"></i>
                    </div>
                    <h3 class="fw-bold text-white mt-2" style="background-color: rgba(0, 0, 0, 0.5);">Soluciones de RR.HH. para tu compañía</h3>
                    <button class="btn btn-outline-light btn-md fw-bold">Ver productos empresariales</button>
                </div>
            </div>
        </div>
    </div>
</div>



