@model Prueba_Tecnica_Coem.Models.Usuarios

@{
    ViewData["Title"] = "Iniciar sesión";
    ViewData["HideNavbar"] = true;
    Layout = "_Layout";
}


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Iniciar sesión</h3>
                    <form asp-controller="Usuarios" asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="control-label">Correo electrónico</label>
                            <input asp-for="Email" class="form-control" placeholder="ejemplo@dominio.com" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Clave" class="control-label">Contraseña</label>
                            <input asp-for="Clave" type="password" class="form-control" placeholder="Contraseña" required />
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>                       
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Iniciar sesión</button>                           
                            <div class="text-center">
                                <a href="#" class="text-primary">Olvide mi contraseña</a>
                            </div>                 
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">¿Aún no estás registrado?</h3>
                    <p class="text-justify">Aplica a miles de ofertas de empleo o encuentra los mejores candidatos para tu empresa</p>
                    <div class="mt-2 text-center">
                        <a asp-controller="Usuarios" asp-action="Create" class="btn btn-outline-primary">Registrarse</a>
                    </div>
                    
                    @* <div class="mt-2 text-center">
                        <a asp-controller="Usuarios" asp-action="Create" class="btn btn-outline-dark">Registrarse como empleador</a>
                    </div>    *@               
                </div>
            </div>
        </div>
    </div>
</div>




